<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Form"
        tools:targetApi="34">
        <activity
            android:name=".form14"
            android:exported="false" />
        <activity
            android:name=".form13"
            android:exported="false" />
        <activity
            android:name=".form12"
            android:exported="false" />
        <activity
            android:name=".form11"
            android:exported="false" />
        <activity
            android:name=".form10"
            android:exported="false" />
        <activity
            android:name=".form9"
            android:exported="false" />
        <activity
            android:name=".form8"
            android:exported="false" />
        <activity
            android:name=".form7"
            android:exported="false" />
        <activity
            android:name=".form_6"
            android:exported="false" />
        <activity
            android:name=".form_5"
            android:exported="false" />
        <activity
            android:name=".form4"
            android:exported="false" />
        <activity
            android:name=".form_3"
            android:exported="false" />
        <activity
            android:name=".form_2"
            android:exported="false" />
        <activity
            android:name=".form_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>